.container
{
    min-height: 100vh;
}

.navbar
{
    box-shadow: 0px 0px 15px #0008;
}

.nav-link:hover
{
    text-decoration: underline;
}

.nav-link.rounded:hover
{
    text-decoration: none;
}

.element-data>.symbol,
.element-data>.number,
.element-data>.name,
.element-data>.mass
{
    display: block;
}

.background-gradient
{
    background-image: linear-gradient(to bottom, #17a2b8, #2a7985);
    margin-top: 75px;
}

.footer
{
    width: 100%;
    padding: 15px;
    margin-top: 1.5em;
    height: 50px;
    box-shadow: 0px 0px 15px #0008;
}

.footer>a
{
    text-decoration: none;
    color: white;
    padding-right: 5px;

}

p
{
    width: 55%;
    text-align: justify;
    font-size: 22px;

}

img
{
    width: 300px;
    padding-bottom: 25px;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
  }

.iframe_container {
    position: absolute;
    display: none;
    bottom: 100%;
    left:50%;
    transform: translate(-50%);
    z-index: 10;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.table-num 
{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 5px  black;
}

.table-group
{
    vertical-align: bottom;
}

.element-data {
    padding: 5px;
    color: black;
    border: 1px solid #444;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease, color 0.3s ease;
}

.element-data:hover {
    transform: scale(1.1);
    z-index: 10;
    color: rgb(225, 225, 225);

}

.element-data:hover .iframe_container {
    display: block;
}

.element-data .symbol {
    font-size: 24px;
    font-weight: bold;
}

.element-data .name {
    font-size: 10px;
    margin-top: 5px;
}

.element-data .mass {
    font-size: 12px;
    margin-top: 5px;
}

/*classes com as cores dos grupos de elementos*/
.metais-alcalinos 
{
    background-color: rgb(255, 85, 107);

    &:hover
    {
        background-color: rgb(127.5, 41.5, 53.5)
    }
}

.metais-alcalinos-terrosos 
{
    background-color: rgb(255, 255, 0);

    &:hover
    {
        background-color: rgb(127.5, 127.5, 0)
    }
}

.metais-de-transicao 
{
    background-color: rgb(255, 145, 0);

    &:hover
    {
        background-color: rgb(127.5, 72.5, 0)
    }
}

.ametais {
    background-color: rgb(0, 116, 39);

    &:hover
    {
        background-color: rgb(0, 58, 19.5);
    }
}

.halogenios
{
    background-color: rgb(27, 153, 172);

    &:hover
    {
        background-color: rgb(13.5, 76.5, 86);
    }
}

.semimetais {
    background-color: rgb(52, 73, 28);

    &:hover
    {
        background-color: rgb(26, 36.5, 14);
    }
}

.metais-representativos 
{
    background-color: rgb(153, 152, 152);

    &:hover
    {
        background-color: rgb(76.5, 76, 76);
    }
}

.gases-nobres 
{
    background-color: rgb(12, 137, 255);

    &:hover
    {
        background-color: rgb(6, 68.5, 127.5)
    }
}

.serie-quimica
{
    background-color: rgb(220, 220, 220);
    font-weight: bolder;

    &:hover
    {
        transform: scale(1);
        z-index: 1;
        cursor: default;
        color: black;
    }
}

.lantanideos {
    background-color: rgb(154, 54, 86);

    &:hover
    {
        background-color: rgb(77, 27, 43);
    }
}


.actinideos {
    background-color: rgb(123, 53, 170);

    &:hover
    {
        background-color: rgb(61.5, 26.5, 85);
    }

}


/* about.html */

h1.main-title
{
    margin: 1em 0;
    text-shadow: 2px 0 5px #0008;
    color: #ccc;
}

img.img-logo
{
    border: 10px #ccc double;
    padding-bottom: 0;
    border-radius: 1%;
}

p.p-about
{
    width: 90vw;
    position: relative;
    left: -4%;
    margin-top: 1em;
}
